// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
  overflow: auto;
}


// Typography
body,
.container {
  @include font-size(14);
  font-family: sans-serif;
  line-height: 1.4;
}


// Links
a {
  text-decoration: none;

  &:link {
    color: blue;
  }

  &:visited {
    color: lighten(blue, 10%);
  }

  &:focus,
  &:hover {
    color: darken(blue, 10%);
    border-bottom: 1px solid darken(blue, 10%);
  }

  &:active {
    color: blue;
    border-bottom: 1px solid blue;
  }
}


// Layout
.container {
  padding: 0 1em;
}


// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}


// Remove text-shadow, customize the background
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
