// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}


// Typography
body {
  @include font-size(14);
  font-family: sans-serif;
  line-height: 1.4;
}


// Layout
.container {
  padding: 0 1em;
}


// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}


// Remove text-shadow, customize the background
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
