// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}


// Typography
body {
  background: map-get($colors, white);
  color: map-get($colors, black);
  font-family: $sans;
  line-height: golden-ratio(1, 1);

  // chrome doesn't like rems on the body
  @at-root .container {
    @include font-size(14);
  }
}


// Layout
.container {
  padding: 0 1em;
}


// Links
a {
  color: map-get($colors, black);
  text-decoration: none;

  &:link,
  &:visited {
    border-bottom: 1px solid map-get($colors, black);

    &:focus,
    &:hover,
    &:active {
      border-bottom: 3px double map-get($colors, black);
    }
  }
}


// Customize selection
::-moz-selection {
  background: transparentize( map-get($colors, black), 0.75 );
  text-shadow: none;
}
::selection {
  background: transparentize( map-get($colors, black), 0.75 );
  text-shadow: none;
}
