// Media Query Mixins (http://jakearchibald.github.io/sass-ie/)
$fix-mqs: false !default;
@mixin mq-min($width) {
  @if $fix-mqs {
    @if $fix-mqs >= $width {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $width) {
      @content;
    }
  }
}
@mixin mq-max($width) {
  @if $fix-mqs {
    @if $fix-mqs <= $width {
      @content;
    }
  }
  @else {
    @media screen and (max-width: $width) {
      @content;
    }
  }
}


// Old IE Mixins (http://jakearchibald.github.io/sass-ie/)
$old-ie: false !default;
@mixin old-ie {
  @if $old-ie {
    @content;
  }
}


// REM Font Size Mixin
html {
  font-size: 62.5%;
}
@mixin font-size ( $size: 14 ) {
  font-size: $size + px;
  font-size: $size/10 + rem;
}
body,
.container {
  @include font-size( 14 );
}


// list reset mixin
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}


// Hide only visually
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
